@model IEnumerable<ExpenseManagement.Models.Expense>
<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "AddExpense")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ExpenseId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfExpense)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpenseType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ExpenseId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfExpense)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpenseType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.ExpenseId }) |
                    @Html.ActionLink("Details", "Details", new { id=item.ExpenseId }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.ExpenseId })
                </td>*@
        </tr>
    }
</table>