@model EmployeeManagementSystem.Models.Employee
@{
    ViewBag.Title = "Details - Employee Management Application";
}

<h2>Selected Employee Details</h2>

@Html.LabelFor(model=>model.EmpId) : <span id="EmpId">@Html.DisplayNameFor(model => model.EmpId)</span>
@Html.LabelFor(model=>model.EmpName) : <span id="EmpName">@Html.DisplayNameFor(model => model.EmpName)</span>
@Html.LabelFor(model=>model.Job) : <span id="Job">@Html.DisplayNameFor(model => model.Job)</span>
@Html.LabelFor(model=>model.Salary) : <span id="Salary">@Html.DisplayNameFor(model => model.Salary)</span>
@Html.LabelFor(model=>model.DeptName) : <span id="DeptName">@Html.DisplayNameFor(model => model.DeptName)</span>

@Html.ActionLink("Back to List","Index")


